body {
    background-color: #89C4F4;
}
h1{
    color:aqua;
}
p{
   text-align: center;
   color:  #FFFFFF;
   font-size: 30px;
   
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
tr{
    font-size: 25px;
}
